/* Global Styles */

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  /* Text */
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h1, h2 {
    font-weight: lighter;
    padding: 10px;
  }
  
  p {
    font-size: 14px;
  }
  
  /* Hyperlink */
  
  a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
  }
  
  /* Input */

  form {
      padding: 10px;
      /*border: solid;*/
  }
  
  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
  }
  
  label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
  }
  
  /* Button */
  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
  }
  
  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }


